node_modules
dist
typings
out
.idea/
*.orig
report/*
reports/
tsd.json
coverage
.vscode/launch.json
.vscode/cSpell.json
debug.log
e2eresults/
Chrome_53.0.2785_(Windows_8.1_0.0.0)/
npm-debug.log.*
test-result/
test-results/
